<h2>Create a new user</h2>

<form method="post" action="/users">
  <div class="field">
    <label for="user_username">Username</label>
    <input type="text" name="username" id="user_username" />
  </div>
  <div class="field">
    <label for="user_password">Password</label>
    <input type="password" name="password" id="user_password" />
  </div>
  <div class="field">
    <label for="confirm_user_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="user_confirm_password" />
  </div>
  <div class="field">
    <input type="submit" value="Create New User"/>
  </div>
</form>
